.banner-container {
    background-color: var(--primary-bg-color);
    height: calc(100vh - 70px);
    position: relative;
    padding: 0 100px;
}

.profile {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.intro {
    font-size: 80px;
    font-weight: 600;
    padding-top: 70px;
    line-height: 90px;
    color: var(--primary-color)
}