.banner-container {
  background-color: var(--primary-bg-color);
  height: 100%;
  position: relative;
  padding: 0 100px;
  overflow: hidden;
  flex: 1 1 0%
}

.greeting {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.profile {
  width: 50vh;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.brush {
  width: 110vh;
  height: auto;
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%) rotate(-25deg);
  filter: invert(39%) sepia(43%) saturate(525%) hue-rotate(131deg)
    brightness(91%) contrast(95%);
}

.intro {
  font-size: 80px;
  font-weight: 600;
  line-height: 90px;
  color: var(--primary-color);
}

.first-introduce {
  font-size: 24px;
  font-weight: 400;
  /* line-height: 90px; */
  color: var(--primary-color);
}
